[package]
name = "ddnnife"
description = "d-DNNF toolkit"
version = "0.7.0"
authors = ["Heiko Raab <heiko.raab@uni-ulm-de>", "Chico Sundermann <chico.sundermann@uni-ulm.de>", "Jan Baudisch <jan.baudisch@uni-ulm.de>"]
edition = "2021"
license = "LGPL-3.0-or-later"
workspace = ".."

[features]
d4 = ["dep:d4-oxide"]
deterministic = []
uniffi = ["dep:uniffi"]

[lib]
crate-type = ["lib", "cdylib"]

[dependencies]
bitvec = "1.0"
csv = "1.3"
file_diff = "1.0.0"
itertools = "0.13"
nom = "7.1"
num = "0.4"
once_cell = "1.19"
petgraph = "0.6"
rand = "0.8"
rand_distr = "0.4"
rand_pcg = "0.3"
streaming-iterator = "0.1"
tempfile = "3.10"
uniffi = { workspace = true, optional = true }
workctl = "0.2"

[target.'cfg(any(target_os = "linux", target_os = "macos", target_os = "windows"))'.dependencies]
d4-oxide = { version = "0.4", optional = true }

[dev-dependencies]
assert_cmd = "2.0"
serial_test = "2.0"
