name: Kotlin

on:
  - push

jobs:
  Build:
    strategy:
      fail-fast: false
      matrix:
        target:
          - double:
              nix: aarch64-linux
              jvm: linux-aarch64
            runner: ubuntu-24.04-arm
            flake:
              kotlin: kotlin
              library: libddnnife
          - double:
              nix: x86_64-linux
              jvm: linux-x86-64
            runner: ubuntu-24.04
            flake:
              kotlin: kotlin
              library: libddnnife
          - double:
              nix: aarch64-darwin
              jvm: darwin-aarch64
            runner: macos-15
            flake:
              kotlin: kotlin
              library: libddnnife
          - double:
              nix: x86_64-darwin
              jvm: darwin-x86-64
            runner: macos-15-intel
            flake:
              kotlin: kotlin
              library: libddnnife
          - double:
              nix: x86_64-windows
              jvm: win32-x86-64
            runner: ubuntu-24.04
            flake:
              kotlin: kotlin-windows
              library: libddnnife-windows
    runs-on: ${{ matrix.target.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Nix
        uses: cachix/install-nix-action@v31
      - name: Cache
        uses: cachix/cachix-action@v16
        with:
          name: softvare-group
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build
        run: nix build -L .#${{ matrix.target.flake.kotlin }}
      - name: Export
        run: |
          nix build -L .#${{ matrix.target.flake.library }}
          mkdir -p ${{ runner.temp }}/libddnnife
          cp -rL result/lib ${{ runner.temp }}/libddnnife/${{ matrix.target.double.jvm }}
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: libddnnife-${{ matrix.target.double.nix }}
          path: ${{ runner.temp }}/libddnnife

  Package:
    needs: Build
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Nix
        uses: cachix/install-nix-action@v31
      - name: Cache
        uses: cachix/cachix-action@v16
        with:
          name: softvare-group
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Download
        uses: actions/download-artifact@v5
        with:
          path: nix/libddnnife
          pattern: libddnnife-*
          merge-multiple: true
      - name: Build
        run: |
          git add nix/libddnnife
          nix build -L .#kotlin-bundled
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: ddnnife-kotlin
          path: result
