name: Python

on:
  - push

jobs:
  Build:
    strategy:
      fail-fast: false
      matrix:
        target:
          - double: aarch64-linux
            runner: ubuntu-24.04-arm
            flake: python
            test: true
          - double: aarch64-linux-musl
            runner: ubuntu-24.04-arm
            flake: python-static
          - double: x86_64-linux
            runner: ubuntu-24.04
            flake: python
            test: true
          - double: x86_64-linux-musl
            runner: ubuntu-24.04
            flake: python-static
          - double: x86_64-darwin
            runner: macos-15-intel
            flake: python
            test: true
          - double: aarch64-darwin
            runner: macos-15
            flake: python
            test: true
          - double: x86_64-windows
            runner: ubuntu-24.04
            flake: python-windows
    runs-on: ${{ matrix.target.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Nix
        uses: cachix/install-nix-action@v31
      - name: Cache
        uses: cachix/cachix-action@v16
        with:
          name: softvare-group
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build
        run: nix build -L .#${{ matrix.target.flake }}
      - name: Test
        if: ${{ matrix.target.test }}
        working-directory: bindings/python
        run: |
          pip install ddnnife --find-links ../../result
          pip install pytest
          pytest --verbose
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: ddnnife-python-${{ matrix.target.double }}
          path: result

  Publish:
    runs-on: ubuntu-24.04
    if: ${{ github.ref_type == 'tag' }}
    needs:
      - Build
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Nix
        uses: cachix/install-nix-action@v31
      - name: Download
        uses: actions/download-artifact@v7
        with:
          path: ${{ runner.temp }}/wheels
          pattern: ddnnife-python-*
          merge-multiple: true
      - name: Publish
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}
        run: nix run nixpkgs#uv -- publish ${{ runner.temp }}/wheels/*
